.grid-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Adjust column width as needed */
}

.grid-item {
  justify-self: center;
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  aspect-ratio: 3 / 4;
  height: 256px;
}

.grid-item:last-child {
  margin-right: 0;
}