.grid-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Adjust column width as needed */
}

.grid-item {
  justify-self: center;
  justify-content: space-around;
  background-color: rgba(200, 200, 200, 0.8);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  text-align: center;
  height: calc(384px - 15px);
  width: calc(246px - 30px);
  background-image: url("cardBG.png");
}

.grid-item:last-child {
  margin-right: 0;
}

.volume-bar {
    margin: 0px;
  padding: 0px;
  border: 0px;
  appearance: slider-vertical;
  height: 130px;
  width: 30px;
}

.split-card {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 129px;
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
}

.option-list {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 10pt;
  vertical-align: top;
  list-style-type: none;
  text-align: left;
  font-size: 15pt;
  line-height: 22pt;
}

.name-bar {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  border: 0px;
  height: 45px;
  background-color: rgb(56, 33, 33);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 15pt;
  color: white;
  align-content: center;
}

.thumbnail {
  height: 155px;
  width: 155px;
  aspect-ratio: 1/1;
  margin-top: 0px;
  margin-bottom: 11px;
  padding: 0px;
  border: 0px;
  object-fit: cover;
  image-rendering: pixelated;
}

.options-container {
  width: 150px;
  justify-items: left;
}

.selection-container {
  width: 33px;
}

.volume-bar-container {
  width: 33px;
}

* {
  font-family: "Pixelify Sans", sans-serif;
}