.grid-container {
  display: grid;
  justify-self: center;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Adjust column width as needed */
}

.grid-item {
  justify-self: center;
  justify-content: space-around;
  background-color: rgba(200, 200, 200, 0.8);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  text-align: center;
  height: calc(384px - 15px);
  width: calc(246px - 30px);
  background-image: url("cardBG.png");
}

.grid-item:last-child {
  margin-right: 0;
}

.volume-bar {
  appearance: none;
  -webkit-appearance:none;
  margin: 0px;
  padding: 0px;
  border: 1px;
  border-radius: 0px;
  height: 11px;
  width: 130px;
  transform-origin: bottom;
  background-color: #382121;
  accent-color: #81c479;
  transform: translateY(120px) translateX(23px) rotate(-90deg);
  transform-origin: left center;
  box-shadow: 5px 0px #382121;
  background: linear-gradient(to right, #82CFD0 0%, #82CFD0 50%, #fff 50%, #fff 100%);
}

.volume-bar::-moz-range-track {
  background: #382121;
  width: 11px;
  box-shadow: 5px 0px #382121;
}

.volume-bar::-moz-range-progress {
  background-color: #81c479;
  width:11px 
}

.volume-bar::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

.volume-bar::-moz-range-thumb {
  width:34px;
  border-radius: 0px; 
  border: 0;
  height:10px;
}

.volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 34px;
  background-color: white;
}

.split-card {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 129px;
  display: flex;
  justify-content: space-between;
}

.option-list {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 10pt;
  vertical-align: top;
  list-style-type: none;
  text-align: left;
  font-size: 15pt;
  line-height: 22pt;
  color: white;
}

.name-bar {
  position: relative;
  margin: auto;
  padding: 0px;
  border: 0px;
  margin-bottom: 10px;
  height: 45px;
  background-color: rgb(56, 33, 33);
  font-family: "Pixelify Sans", sans-serif;
  font-size: 15pt;
  color: white;
  align-content: center;
}

.thumbnail {
  height: 155px;
  width: 155px;
  aspect-ratio: 1/1;
  margin-top: 0px;
  margin-bottom: 11px;
  padding: 0px;
  border: 0px;
  object-fit: cover;
  image-rendering: pixelated;
}

.options-container {
  width: 150px;
  justify-items: left;
}

.selection-container {
  line-height: 22pt;
  width: 33px;
}

.volume-bar-container {
  width: 33px;
}

.selection-choice {
  -webkit-appearance: none;
  appearance: none;

  background-color: transparent;
  margin: 0;
  width: 15px;
  height: 15px;
  border: 3px solid white;
}

.selection-choice:checked {
  background-color: white;
}
* {
  font-family: "Pixelify Sans", sans-serif;
}
